h1{
    text-align: center;
    margin: 20px 0px;
}
.box{
    background-color: lightgray;
    padding: 5%;
    margin-bottom: 5%;
}
.box > h3{
    text-align: center;
}
.box > p{
    text-align: justify;
}
.navbar-brand{
    font-size: 35px;
    margin-left: 2%;
}
.navbar{
    background-color: lightgray;
    border: 1px solid black;
}
.navbar a{
    color: black;
}
.navbar i{
    border: 1px solid black;
    padding: 0px 5px;
    font-weight: bold;
}
.navbar i:hover, .navbar i:active{
    color: white;
    border-color: white;
}
.navbar-toggler{
    font-size: 30px;
}
.nav-item{
    text-align: center;
    border-top: 1px solid black;
}
@media(min-width: 768px) {
    .nav-link{
        display: none;
    }            
}